__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.github
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Git scripts (local use only)
git_save_and_push.bat
.gitignore